<section class="home-about" id="home-about">
    <div class="cover">
        <img src="images/la-viga.png" alt="Imagen la viga">
    </div>
    <div class="description">
        <h1>¿Por qué en la Congeladora?</h1>
        <p>
            Porque estamos en el interior del mercado de pescados
            y mariscos <span>“la Nueva Viga”</span>, con una <span>capacidad de 1,100
            metros cúbicos</span> de cámaras para conservar producto 
            congelado.
            <br> <br>
            Con equipo de última generación, ofrecemos un <span>servicio 
            personalizado</span> y manejo responsable y profesional de tu 
            producto.
        </p>
        <a href="/ventajas">
            Conoce nuestras ventajas
        </a>
    </div>
</section>