<footer>
    <nav>
        <ul>
            <li>
                <a href="{{ .Site.BaseURL }}">Inicio</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
            <li>
                <a>
                    © <span id="year"></span> Congeladora
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <ul>
            <li class="text-white text-link">
                Teléfono:
                <a href="tel:5556000525"> 55 5600 - 0525</a> y
                <a href="tel:5556943205">55 5694 - 3205</a>
            </li>
            <li>
                <a href="mailto:congeladorappc@outlook.com">Correo: congeladorappc@outlook.com</a>
            </li>
        </ul>
    </div>
</footer>
